<!DOCTYPE html>
{% extends 'users/base.html'%}
{% block body_block %}
<body style="background-color:#D291BC;">
<div class="card-deck">

    {% for mobile in mobiles %}
    <div class="row" style="margin-top:3%;margin-left:0.5%;">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{mobile.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{mobile.mobile_name}}</h5>
                    <p class="card-text">Price:{{mobile.price}}</p>
                </div>
                <div class="card-body">



                     <a href="{%url 'mobiledetails' mobile.id%}" class="card-link btn btn-primary btn-lg btn-block">View details</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
</body>
{% endblock %}