<!DOCTYPE html>
{% extends 'owner/base.html'%}
{% block body_block %}

<body style="background-color:#41b3a3;">
<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <form method="post" enctype="multipart/form-data" class="jumbotron" style="margin-top:5%;">{% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Create Mobile" class="btn btn-primary btn-lg">
            </form>
        </div>
        <div class="col-4">


        </div>
    </div>
</div>

</body>
{% endblock %}