<!DOCTYPE html>
{% extends 'owner/base.html'%}
{% block body_block %}

<body style=background-color:#2d545e;">
<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <form method="post" enctype="multipart/form-data" class="jumbotron" style="margin-top:5%;">{% csrf_token %}
                <br>
                <h3>Update specifications</h3>
                <br>
                {{form.as_p}}
                <input type="submit" value="update">
            </form>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>

</body>
{% endblock %}